<!-- Note: Client available from Express Application: api/testCookieClient -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Loader | Error {{errorCode}}</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <script src="../scripts.js" defer></script>
    <link rel="shortcut icon" type="image/jpg" href="/favicon.ico"/>
</head>
<body>
    <div class="container">
        {{> header}}
        <section class="card" id="landing">
            <h2>
                Welcome to the Express Image Loader
            </h2>
            <h3>
                ver 1.1.0
            </h3>
            <h1>
                Error {{ errorCode }}: {{ errorMessage }}!
            </h1>
            <p>
                Error Details: {{ errDetails }}!
            </p>
        </section>
    </div>
</body>
</html>