<div class="container">
    {{> header}}
    <section class="card" id="landing">
        <h2>
            Welcome to the Express Image Loader
        </h2>
        <h3>
            ver 1.1.0
        </h3>
        <h1>
            Error {{ errorCode }}: {{ errorMessage }}!
        </h1>
        <p>
            Error Details: {{ errDetails }}!
        </p>
    </section>
</div>
