<div class="container">
    {{> header}}
    <section class="card" id="landing">
        <h2>
            Welcome to the Express Image Loader | with PassportJS
        </h2>
        <h3>
            ver 1.1.0
        </h3>
        <form action="loader/../login" method = "get">
            <button type="submit" class="btn" value="Login">Login</button>
        </form>
        <form action="loader/../register" method = "get">
            <button type="submit" class="btn" value="Register">Register</button>
        </form>
        <p id='flashMessage'>{{ message }}</p>
    </section>
</div>
