<div class="container">
    {{> header}}
    <section class="card" id="landing">
        <h2>
            Welcome to the Express Image Loader
        </h2>
        <h3>
            ver 1.1.0
        </h3>
        <form action="loader/../login" method="POST" class="showcase-form" id="form">
            <ul>
            {{#each passportError}}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <li><strong>{{this}}</strong></li>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/each}}
            </ul>
            <ul>
            {{#each errors}}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <li><strong>{{param}}</strong>: {{msg}} 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </li>
            </div>
            {{/each}}
            </ul>
            <fieldset>
                <legend>Login.</legend>
                <div class="form-control">
                    <input type="email" name="email" placeholder="Email" id="usr">
                </div>
                <div class="form-control">
                    <input type="password" name="password" placeholder="Password" id="pwd">
                </div>
                    <input type="hidden" id='csrf' name="_csrf" value={{ csrfToken }}>
                <input type="submit" name="submit" value="submit" class="btn" id="submitLogin">
                <a href='loader/../auth/google' class="btn red darken-1">
                    <i class="fab fa-google left" style="padding-right: 10px;"></i>Login with Google
                </a>
            </fieldset>
        </form>
    </section>
</div>
